@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tinos&display=swap");
* {
  font-family: "Roboto", sans-serif;
}
body {
  margin: 0px;
  padding: 0px;
}

/* START HOME STYLES */
.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./img/login.jpg");
  background-size: cover;
  background-position: center;
}
h1 {
  font-family: "Tinos", serif;
}
.login-logo {
  height: 80px;
  padding-right: 10px;
}
.span-link {
  color: #ef3c56;
  cursor: pointer;
}
.dark {
  background-image: url("./img/dark.jpg");
}
.clear {
  background-image: url("./img/clear.jpg");
}
button.MuiToggleButton-root {
  color: #e64a5c;
}
/* END HOME STYLES */

/* START NAV BAR STYLES */
.nav-logo {
  width: 25px;
  padding: 0 10px 0 0;
}
.nav-title {
}
/* END NAV BAR STYLES */
